body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

.container-fluid {
    display: flex;
}

#sidebarMenu {
    width: 280px;
    background-color: hsla(260, 86%, 81%, 0.753);
    color: rgb(58, 0, 97);
    height: 100dvh;
    position: fixed;
    overflow-y: auto;
}

.nav {
    list-style: none;
    padding: 20px 0;
}

.nav-item {
    border-bottom: 1px solid #2f014e;
}

.nav-link {
    display: block;
    padding: 12px 20px;
    color: #3c047d;
    text-decoration: none;
    font-size: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-link:hover {
    background-color: #6949ada9;
    color: rgb(255, 255, 255);
}

.nav-link.active {
    background-color: #7507ea92;
    color: white;
}

h6 {
    color: #2b005c;
    font-size: 12px;
    text-transform: uppercase;
    padding: 20px 20px 10px 20px;
    margin: 0;
    border-bottom: 1px solid #495057;
}

.nav-link span {
    margin-right: 10px;
}