.modal {
    display: block;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #7a41af9d;
}
.modal2 {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #7a41af9d;
}
.modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    max-width: 500px;
    align-items: center;
    align-content: center;
}

.modal-content2 {
    background-color: white;
    margin: 5% auto;
    padding: 20px;
    border-radius: 15px;
    width: 50%;
    max-width: 500px;
    align-items: center;
    align-content: center;
}

.modal-footer{
    margin: 5%;
    align-items: center;
    align-content: center;
    text-align: center;
}
.btn-btn-primary{
    color: rgb(29, 4, 53);
    background-color: rgb(195, 132, 255);
    width: 100%;
    border-radius: 5px;
    text-align: center;
    font-size: 20px;
    border: none;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.btn-btn-primary:hover{
    background-color:rgb(29, 4, 53);
    color:rgb(195, 132, 255);;
}
.btn-btn-secondary{
    color: rgb(55, 9, 98);
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: none;
    display: block;
    margin: 5% ;
    margin-bottom: 5px;
    margin-left: 0;
    width: 100%;
    background-color: white;
}
.btn-btn-secondary:hover{
     color: rgb(196, 151, 237);
}
.form-group {
            margin-bottom: 15px;
}

.modal-header{
    align-items: center;
    align-content: center;
    text-align: center; }
.modal-title{
    align-items: center;
    font-size: 20px;
    color:rgb(29, 4, 53)
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input{
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}